<main>
    <section>
        <div class="container-fluid mt-4">
            <h2 class="text-center mb-4">Formulario de Producto</h2>
            <form [formGroup]="productoForm" class="formularioPro" (ngSubmit)="guardarProducto()">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input formControlName="nombre" type="text" class="form-control" id="nombre"
                        (blur)="nombre?.markAsTouched(); primeraLetraMayuscula('nombre')"
                        [ngClass]="{'error': nombre?.touched && nombre?.invalid}">
                    @if (nombre?.touched && nombre?.invalid) {
                    <div>
                        @if (nombre?.errors?.['required']) {
                        <small>Campo Requerido</small>
                        }
                    </div>
                    }
                </div>
                <div class="mb-3">
                    <label for="codigo_producto" class="form-label">Código Producto:</label>
                    <input formControlName="codigo_producto" type="text" class="form-control" id="codigo_producto"
                        (blur)="codigo_producto?.markAsTouched()" [ngClass]="{'error':codigo_producto?.touched &&
                     codigo_producto?.invalid
                    }">
                    @if (codigo_producto?.touched && codigo_producto?.invalid) {
                    <div>
                        @if (codigo_producto?.errors?.['required']) {
                        <small>Campo Requerido</small>
                        }
                    </div>
                    }
                </div>
                <div class="mb-3">
                    <label for="marca" class="form-label">Marca:</label>
                    <input formControlName="marca" type="text" class="form-control" id="marca"
                        (blur)="primeraLetraMayuscula('marca')">
                </div>
                <div class="mb-3">
                    <label for="modelo" class="form-label">Modelo:</label>
                    <input formControlName="modelo" type="text" class="form-control" id="modelo"
                        (blur)="primeraLetraMayuscula('modelo')">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="unidad_medida" class="form-label">Unidad de Medida:</label>
                        <select formControlName="unidad_medida" id="unidad_medida" class="form-select"
                            (blur)="unidad_medida?.markAsTouched()"
                            [ngClass]="{'is-invalid': unidad_medida?.touched && unidad_medida?.invalid}">
                            <option value="" disabled>-- Seleccione unidad --</option>
                            @for (unidad of unidadesMedidas$ | async; track unidad.id_unidad_medida) {
                            <option [value]="unidad.id_unidad_medida">
                                {{unidad.nombre}}
                            </option>
                            }
                        </select>
                        @if (unidad_medida?.touched && unidad_medida?.invalid) {
                        <div>
                            @if (unidad_medida?.errors?.['required']) {
                            <small>Campo Requerido</small>
                            }
                        </div>
                        }
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="stock_actual" class="form-label">Cantidad:</label>
                        <input formControlName="stock_actual" type="number" class="form-control" id="stock_actual"
                            (blur)="stock_actual?.markAsTouched()"
                            [ngClass]="{'is-invalid': stock_actual?.touched && stock_actual?.invalid}">
                        @if (stock_actual?.touched && stock_actual?.invalid) {
                        <div>
                            @if (stock_actual?.errors?.['required']) {
                            <small>Campo Requerido</small>
                            }
                            @if (stock_actual?.errors?.['min']) {
                            <small>La cantidad debe ser 1 o mayor</small>
                            }
                        </div>
                        }
                    </div>
                </div>

                <label for="proveedor">Proveedor:</label>
                <select formControlName="proveedor" id="proveedor" class="form-select">
                    <option value="" disabled>-- Seleccione proveedor --</option>
                    @for (prov of proveedores; track prov.id_proveedor) {
                    <option [value]="prov.id_proveedor">
                        {{prov.razon_social}}
                    </option>
                    }
                </select>

                <label for="categoria">Categoría:</label>
                <select formControlName="categoria" id="categoria" class="form-select">
                    <option value="" disabled>-- Seleccione categoría --</option>
                    @for (cat of categorias; track cat.id_categoria) {
                    <option [value]="cat.id_categoria">
                        {{cat.nombre}}
                    </option>
                    }
                </select>

                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción:</label>
                    <textarea formControlName="descripcion" id="descripcion" class="form-control" rows="6"></textarea>
                </div>
                <div class="mb-3">
                    <label for="estado" class="form-label">Estado:</label>
                    <select formControlName="estado" id="estado" class="form-select">
                        <option value="A">Activo</option>
                        <option value="I">Inactivo</option>
                    </select>
                </div>
                <div class="d-flex flex-wrap w-100 gap-2">
                    <button type="submit" class="btn-dashboard">
                        {{esEdicion ? 'Actualizar' : 'Nuevo'}}
                    </button>
                    <button type="button" (click)="cancelarFormulario()" class="btn-dashboard" [disabled]="esEdicion">
                        Cancelar
                    </button>
                    <button [routerLink]="'/dashboard'" type="button" class="btn-dashboard salir-btn ms-auto">
                        Salir
                    </button>
                </div>
            </form>

            @if (mensaje) {
            <div class="mensaje">
                <p>{{mensaje}}</p>
            </div>
            }

        </div>
    </section>
</main>