<main class="login-container">

  <section class="login-section">
    <h2 class="login-title"> Inicio de sesión</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <div>
        <label>Correo Electronico:</label>
        <input formControlName="email" type="email" (blur)="loginForm.get('email')?.markAsTouched()"
          placeholder="Email@direccion.com">

        @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
        <div>
          @if (loginForm.get('email')?.errors?.['required']) {
          <small>Campo Requerido</small>
          }
          @if(loginForm.get('email')?.errors?.['email']){
          <small>Formato Invalido</small>
          }
        </div>
        }
      </div>

      <div>
        <label>Contraseña:</label>
        <input formControlName="password" type="password" (blur)="loginForm.get('password')?.markAsTouched()"
          placeholder="Contraseña">

        @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
        <div>
          @if (loginForm.get('password')?.errors?.['required']) {
          <span>Campo Requerido</span>
          }
          @if (loginForm.get('password')?.errors?.['minlength']) {
          <span>Minimo 6 caracteres</span>
          }
        </div>
        }
      </div>

      <a href="recuperar.html" class="enlace-olvidecontraseña">¿Olvidaste tu contraseña?</a>
      <a routerLink="/formulario-de-registro" class="enlace-registrate">¿No tenes cuenta?
        Regístrate</a>



      <div>
        <button type="submit" class="button-login">Iniciar Sesión</button>
      </div>

    </form>
  </section>

</main>