/* Estilos para el nav */
.main-nav a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.main-nav a:hover {
  background: linear-gradient(90deg, var(--primary-color-1), var(--primary-color-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}
