<main class="form-container">

   <form [formGroup]="registroFormulario" (ngSubmit)="onSubmit()" class="formulario-de-registro">
      <div>
         <label>Nombre Completo:</label>
         <input formControlName="nombre" type="nombre" (blur)="registroFormulario.get('nombre')?.markAsTouched()"
            placeholder="Nombre Completo">
         @if (registroFormulario.get('nombre')?.touched && registroFormulario.get('nombre')?.invalid) {
         <div>
            @if (registroFormulario.get('nombre')?.errors?.['required']) {
            <span>Campo Requerido</span>
            }
            @if (registroFormulario.get('nombre')?.errors?.['minlength']) {
            <span>Minimo 6 caracteres</span>
            }
         </div>
         }
      </div>

      <div>
         <label>Correo Electronico:</label>
         <input formControlName="email" type="email" (blur)="registroFormulario.get('email')?.markAsTouched()"
            placeholder="Correo Electronico">
         @if (registroFormulario.get('email')?.touched && registroFormulario.get('email')?.invalid) {
         <div>
            @if (registroFormulario.get('email')?.errors?.['required']) {
            <small>Campo Requerido</small>
            }
            @if(registroFormulario.get('email')?.errors?.['email']){
            <small>Formato Invalido</small>
            }
         </div>
         }
      </div>


      <div>
         <label>Contraseña:</label>
         <input formControlName="password" type="password" (blur)="registroFormulario.get('password')?.markAsTouched()"
            placeholder="Contraseña">
         @if (registroFormulario.get('password')?.touched && registroFormulario.get('password')?.invalid) {
         <div>
            @if (registroFormulario.get('password')?.errors?.['required']) {
            <span>Campo Requerido</span>
            }
            @if (registroFormulario.get('password')?.errors?.['minlength']) {
            <span>Minimo 6 caracteres</span>
            }
         </div>
         }
      </div>


      <div>
         <label>Confirmar Contraseña:</label>
         <input formControlName="confirmPassword" type="password"
            (blur)="registroFormulario.get('confirmPassword')?.markAsTouched()" placeholder="Confirmar Contraseña">

         @if (registroFormulario.get('confirmPassword')?.touched
         && registroFormulario.get('confirmPassword')?.hasError('required')) {
         <span>Campo requerido</span>
         }

         @if (registroFormulario.get('confirmPassword')?.touched
         && registroFormulario.hasError('mismatch')) {
         <span>No coinciden las contraseñas</span>
         }
      </div>



      <div class="form-group">
         <label class="checkbox-container">
            <input type="checkbox" name="terminos" id="terminos" required>
            <a href="/terminos" target="_blank">Acepto los terminos y condiciones</a>
         </label>
      </div>
      <div class="form-group">
         <button class="btn-login" type="submit">Registrarse</button>
      </div>
   </form>
</main>