<main>
  <section>
    <div class="container cuadro-tabla-dashboard my-4">
      <div class="row g-4">

        <!-- Tarjetas Info -->
        <div class="row tarjetas-info-dashboard">
          @for (item of tarjetasInfo; track item) {
          <div class="col-12 col-md-6 col-lg-3">
            <div class="tarjeta-info">
              <h3>{{ item.titulo }}</h3>
              <p>{{ item.valor }}</p>
            </div>
          </div>
          }
        </div>

        <!-- Gráficos -->
        <div class="row tarjetas-graficas-dashboard">
          @for (graf of graficos; track graf) {
          <div class="col-12 col-md-6">
            <div class="tarjeta-grafico">
              <h3>{{ graf.titulo }}</h3>
              <img [src]="graf.img" [alt]="graf.titulo">
            </div>
          </div>
          }
        </div>

        <!-- Inventario -->
        <div class="encabezado-dashboard">
          <h2>Inventario</h2>
          <div class="fila-botones d-flex flex-wrap justify-content-between gap-2">
            <div class="izquierda d-flex flex-wrap gap-2">
              <button [routerLink]="'/registrar-producto'">Registrar Entradas</button>
              <button [routerLink]="'/registrar-salida'">Registrar Salidas</button>
            </div>
            <div class="derecha d-flex align-items-center gap-2">
              <input type="text" class="form-control input-busqueda-producto" placeholder="Buscar producto..." [(ngModel)]="filtro"
                (input)="filtrarProductos()" style="max-width: 200px;" />
              <button [routerLink]="'/formulario-producto'">Añadir Producto</button>
            </div>
          </div>
        </div>

        <!-- Tabla de Inventario -->
        <div class="tabla-dashboard table-responsive">
          <table class="tabla-con-borde align-middle text-center">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Codigo de Producto</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Unidad de Medida</th>
                <th>Descripción</th>
                <th>Fecha de Creación</th>
                <th>Fecha de Actualización</th>
                <th>Estado</th>
                <th>Stock Actual</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              @for (prod of productosFiltrados; track prod) {
              <tr>
                <td>{{ prod.nombre }}</td>
                <td>{{ prod.codigo_producto }}</td>
                <td>{{ prod.marca}}</td>
                <td>{{ prod.modelo}}</td>
                <td>{{ prod.unidad_medida}}</td>
                <td>{{ prod.descripcion}}</td>
                <td>{{ prod.fecha_creacion}}</td>
                <td>{{ prod.fecha_actualizacion}}</td>
                <td>{{ prod.estado}}</td>
                <td>{{ prod.stock_actual}}</td>
                <td class="acciones">
                  <button class="btn btn-sm btn-outline-primary editar" title="Editar"
                    [routerLink]="['/formulario-producto', prod.id]">Editar
                    <i class="bi bi-pencil"></i>
                  </button>
                  <button class="btn btn-sm btn-outline-danger eliminar" title="Eliminar"> Eliminar
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>